<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<ul>
  {{#each items}}
    <li>
      {{this.title}} - {{this.description}}
      <form method="POST" style="display:inline;">
        <input type="hidden" name="item_id" value="{{this.id}}">
        <button type="button" class="like-btn" data-post-id="{{this.id}}">Like</button>
      </form>
    </li>
  {{/each}}
</ul>

<script src="js/script.js"></script>
</body>
  
</html>
