<div class="container teal lighten-2">

    <div class="card-panel center-align">
    <h2>Dashboard</h2>
    </div>

    <div class="card-panel center-align">
    <p>Welcome, {{username}}!</p>
    </div>

    <!-- Additional dashboard content here -->
</div>
