<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorites</title>
  <link rel="text/html" href="../../public/css/style.css">
</head>
<body>
    <div class="col s12 teal lighten-2 center-align">

  {{> nav}}
  <main>
    <div class="card-panel">
    <h1>Favorites</h1>
    </div>
    {{#each favorites}}
      <div class="card-panel">
      <div class="favorite">
        <h4>{{this.item.title}}</h4>
        <p>{{this.item.description}}</p>
        <p>Posted by: {{this.item.user.email}}</p>
      </div>
      </div>
    {{/each}}
  </main>
  </div>
</body>
</html>
