<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorites</title>
  <link rel="text/html" href="../../public/css/style.css">
</head>
<body>
  {{> nav}}
  <main>
    <h1>Favorites</h1>
    {{#each favorites}}
      <div class="favorite">
        <h2>{{this.item.title}}</h2>
        <p>{{this.item.description}}</p>
        <p>Posted by: {{this.item.user.email}}</p>
      </div>
    {{/each}}
  </main>
</body>
</html>
