<header>
  <div class="conatiner">
  <div class="card-panel">
  <h1>Welcome to the UCONN Marketplace</h1>
  </div>

  <div class="navbar">
    <ul>
      <li><a href="/login" class="nav-button">Login</a></li>
      <li><a href="/register" class="nav-button">Register</a></li>
    </ul>
  </div>
  </div>
</header>
