<main>
  <div class="image-gallery">
    <img src="assets/background_image.jpeg" alt="Image 1">
    <img src="assets/marketing_pic.webp" alt="Image 2">
    <img src="assets/image.webp" alt="Image 3">
  </div>
</main>
