<div class="slideshow-container">
    <img src="/public/assets/background_image.jpeg" alt="Image 1">
    <img src="/public/assets/image.webp" alt="Image 2">
    <img src="/public/assets/login_image.jpg" alt="Image 3">
    <img src="/public/assets/marketing_pic.webp" alt="Image 4">
    <img src="/public/assets/product.jpeg" alt="Image 5">
</div>
<div class="welcome-container">
    <h1>{{welcomeTitle}}</h1>
    <a href="{{welcomeLink}}">
        <button>Welcome</button>
    </a>
</div>
